html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgba(255, 244, 237, 1);
}

.container {
  background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 3px;
  box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.2);
}

.headline {
  text-align: center;
  font-family: 'Scope One', serif;
}

.home {
  text-align: center;
  font-family: 'Scope One', serif;
}

.dropbtn {
    background-color: lightgray;
    color: black;
    width: 30%;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Scope One', serif;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: gray;
}

.dropdown {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.dropdown-content {
    display: none;
    background-color: rgba(249, 249, 249, 1);
    font-family: 'Scope One', serif;
    width: 30%;
    margin: 0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: rgba(241, 241, 241, 1);
}

.show {
  display:block;
}

.rating{
  text-align: center;
  font-family: 'Scope One', serif;
  padding: 1%;
}

.author {
  text-align: center;
  font-family: 'Scope One', serif;
}

.main-image {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.image-caption {
  text-align: center;
  font-family: 'Scope One', serif;
}

.article-content {
  padding: 10px;
  font-family: 'Scope One', serif;
}

.credit {
  background-color: lightgray;
  text-align: center;
  width: 100%;
  border-radius: 3px;
  font-family: 'Scope One', serif;
}
