html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../img/woodgrain.png");
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.landing-page {
  height: 100%;
}

#banner {
  margin: 0 auto;
  width: 100%;
}

.description {
  text-align: center;
  color: black;
  background-color: white;
  top: 50%;
	transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  padding: 1%;
  font-family: 'Scope One', serif;
  font-size: 16px;
  width: 90%;
  border-radius: 3px;
  box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.2);
}

.scroll-button {
  text-align: center;
}

#down-arrow {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
}

.center {
  margin: 0 auto;
  display: block;
}

.stores {
  height: 100%;
  display: block;
}

.store-display {
  background-color: white;
  padding: 1%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  border-radius: 3px;
  box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.2);
}

.record-image {
  width: 10vw;
}

.store-link {
  color: black;
}

.store-link:hover {
  color: black;
}

#store-name {
  text-align: center;
  font-family: 'Scope One', serif;
  color: black;
  margin: 0 auto;
}

.second-row {
  margin-top: 10px;
}

.map {
  height: 100%;
  display: block;
}

.map-display {
  background-color: white;
  padding: 1%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  border-radius: 3px;
  box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.2);
}

#map-graphic {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.credit {
  background-color: lightgray;
  text-align: center;
  width: 100%;
  font-family: 'Scope One', serif;
  border-radius: 3px;
}

/* media queries */
@media screen and (max-width: 500px) and (min-width: 411px ){
  .description {
    font-size: 13px;
    height: 90%;
  }
}

@media screen and (max-width: 410px) and (min-width: 380px ){
  .description {
    font-size: 13px;
    height: 90%;
  }
}

@media screen and (max-width: 379px) and (min-width: 321px ){
  .description {
    font-size: 12px;
    height: 90%;
  }
}

@media screen and (max-width: 320px) and (min-width: 315px ){
  .description {
    font-size: 10px;
    height: 90%;
  }
}
